{
    "version": "0",
    "id": "e215f5c7-a866-e0cd-6d11-fc7ecf97e381",
    "detail-type": "Security Hub Findings - Custom Action",
    "source": "aws.securityhub",
    "account": "123456789012",
    "time": "2019-04-11T22:06:13Z",
    "region": "us-east-1",
    "resources": [
        "arn:aws:securityhub:us-east-1:123456789012:action/custom/slackMessaging"
    ],
    "detail": {
        "actionName": "CreateJiraIssue",
        "actionDescription": "Create Jira Issue",
        "findings": [
            {
                "SchemaVersion": "2018-10-08",
                "Id": "prowler-7.59-123456789012-eu-west-1-eu-west-1_Potential_secret_found_in_Lambda_function_pp-security-pipeline-notifications-pipeline_variables",
                "ProductArn": "arn:aws:securityhub:eu-west-1:123456789012:product/123456789012/default",
                "GeneratorId": "prowler-extra759",
                "AwsAccountId": "123456789012",
                "Types": [
                  "Software and Configuration Checks"
                ],
                "FirstObservedAt": "2020-09-19T03:22:01Z",
                "CreatedAt": "2020-09-15T07:00:56Z",
                "UpdatedAt": "2020-09-22T07:01:38Z",
                "Severity": {
                  "Label": "HIGH",
                  "Normalized": 70
                },
                "Title": "[extra759] Find secrets in Lambda functions variables (Not Scored) (Not part of CIS benchmark)",
                "Description": "eu-west-1: Potential secret found in Lambda function pp-security-pipeline-notifications-pipeline variables",
                "ProductFields": {
                  "ProviderName": "Prowler",
                  "ProviderVersion": "2.3.0RC3",
                  "aws/securityhub/FindingId": "arn:aws:securityhub:eu-west-1:123456789012:product/123456789012/default/prowler-7.59-123456789012-eu-west-1-eu-west-1_Potential_secret_found_in_Lambda_function_pp-security-pipeline-notifications-pipeline_variables",
                  "aws/securityhub/ProductName": "Default",
                  "aws/securityhub/CompanyName": "Personal"
                },
                "Resources": [
                  {
                    "Type": "AwsLambdaFunction",
                    "Id": "AWS::::Account:123456789012",
                    "Partition": "aws",
                    "Region": "eu-west-1"
                  }
                ],
                "Compliance": {
                  "Status": "FAILED"
                },
                "WorkflowState": "NOTIFIED",
                "Workflow": {
                  "Status": "NOTIFIED"
                },
                "RecordState": "ACTIVE"
            }
        ]
    }
}